@inject IGameService GameService
@inject IJSRuntime JsRuntime
@inject IGameEventService GameEventService
@inject IUserService UserService

<!-- Commenté pour simplification
@if (User != null)
{
    <div class="profile">
        <div class="profile-details">
            <img src="@User.Profile" alt="Profile Picture" class="profile-image" />
            <p>@User.Name</p>
        </div>
    </div>
}
-->

<div class="grid" @onmousemove="OnMouseMoveHandler" @onwheel="OnMouseWheelHandler" @ref="playerGridRef" style="--grid-size: @(PositionsData.Length); --cell-size: 40px;">
    @foreach (var row in Enumerable.Range(0, PositionsData.Length))
    {
        @foreach (var col in Enumerable.Range(0, PositionsData[0].Length))
        {
            var playerPositionData = PositionsData[col][row];
            var playerPosition = playerPositionData.Position;
            string cellBackgroundColor = GetCellBackgroundColor(playerPosition, col, row);
            bool isDisabled = !IsPlacingBoats || PositionState.MISS.Equals(playerPositionData.State) || PositionState.HIT.Equals(playerPositionData.State);

            <button @onclick="(e) => OnMouseClickHandler(e, playerPosition)" class="cell"
                    @ref="cellRef"
                    disabled="@isDisabled"
                    style="background-color: @(cellBackgroundColor);
                           @(IsHighlighted(row, col) ? "outline: 2px solid yellow;" : "");
                           @(GameService.ArePositionsOverlapping(mouseRow, mouseCol, isVertical, sizes[indexBoat]) && IsHighlighted(row, col) ? "outline: 2px solid red;" : "")">
            </button>
        }
    }
</div>

@code {
    [Parameter]
    public PositionData[][] PositionsData { get; set; }
    public User User { get; set; }
    [Parameter]
    public bool IsPlacingBoats { get; set; }

    private bool isVertical = false;
    private int indexBoat = 0;
    private IList<int> sizes = new List<int> { 2, 3, 3, 4, 5 };
    private int mouseRow = -1;
    private int mouseCol = -1;
    private ElementReference playerGridRef;
    private ElementReference cellRef;
    private double gridX, gridY;

    [Parameter]
    public EventCallback OnTogglePlacingBoats { get; set; }

    protected override async Task OnInitializedAsync()
    {
        GameEventService.OnGameRestarted += HandleGameRestarted;
        User = await UserService.LoadPlayerProfile();
    }

    private void HandleGameRestarted()
    {
        isVertical = false;
        indexBoat = 0;
        sizes = new List<int> { 2, 3, 3, 4, 5 };
        mouseRow = -1;
        mouseCol = -1;
        StateHasChanged();
    }

    public void Dispose()
    {
        GameEventService.OnGameRestarted -= HandleGameRestarted;
    }

    private async Task PlaceBoat(MouseEventArgs e)
    {
        if (!IsPlacingBoats) return;

        var gridPadding = 10;
        var cellGap = 5;

        if (gridX == 0 && gridY == 0)
        {
            var rect = await JsRuntime.InvokeAsync<BoundingClientRect>("getGridBoundingRect", playerGridRef);

            gridX = rect.Left + gridPadding;
            gridY = rect.Top + gridPadding;
        }

        var cellSize = await JsRuntime.InvokeAsync<int>("getCellSize", cellRef);

        var relativeX = (int)(e.ClientX - gridX);
        var relativeY = (int)(e.ClientY - gridY);

        var effectiveCellSize = cellSize + cellGap;

        mouseRow = (relativeY < 0 || relativeY >= PositionsData.Length * effectiveCellSize) ? -1 : relativeY / effectiveCellSize;
        mouseCol = (relativeX < 0 || relativeX >= PositionsData.Length * effectiveCellSize) ? -1 : relativeX / effectiveCellSize;
    }

    public async Task OnMouseMoveHandler(MouseEventArgs e) => await PlaceBoat(e);

    private string GetCellBackgroundColor(Position playerPosition, int col, int row)
    {
        string color = "transparent";
        if (GameService.IsBoatAtPosition(playerPosition))
            color = "lightgray";
        if (PositionState.MISS.Equals(PositionsData[col][row].State))
            color = "blue";
        if (PositionState.HIT.Equals(PositionsData[col][row].State))
            color = "red";

        return color;
    }

    public async Task OnMouseClickHandler(MouseEventArgs e, Position position)
    {
        if (!IsPlacingBoats || !CanPlaceBoat()) return;

        if (!CanPlaceBoatAtCurrentPosition(position, isVertical, sizes[indexBoat]))
        {
            Console.WriteLine("Les bateaux se chevauchent !");
            return;
        }

        var boatPositions = GameService.GetBoatPositions(position, isVertical, sizes[indexBoat]);
        GameService.PlaceBoat(boatPositions);

        if (indexBoat == sizes.Count - 1)
        {
            await GameService.PlaceBoats();
            TogglePlacingBoats();
        }
        else
        {
            indexBoat++;
        }
    }

    public void OnMouseWheelHandler(WheelEventArgs e) => isVertical = !isVertical;

    private bool IsHighlighted(int row, int col) =>
    mouseRow != -1 && mouseCol != -1 &&
    IsPlacingBoats && CanPlaceBoat() &&
    ((isVertical && col == mouseCol && row >= mouseRow && row < mouseRow + sizes[indexBoat]) ||
    (!isVertical && row == mouseRow && col >= mouseCol && col < mouseCol + sizes[indexBoat]));

    private bool CanPlaceBoat() =>
    isVertical ? mouseRow >= 0 && mouseRow + sizes[indexBoat] - 1 < PositionsData.Length :
                 mouseCol >= 0 && mouseCol + sizes[indexBoat] - 1 < PositionsData.Length;

    private bool CanPlaceBoatAtCurrentPosition(Position position, bool isVertical, int boatSize)
    {
        return !GameService.ArePositionsOverlapping(mouseRow, mouseCol, isVertical, boatSize);
    }

    private void TogglePlacingBoats() => OnTogglePlacingBoats.InvokeAsync();

    public class BoundingClientRect
    {
        public double Top { get; set; }
        public double Left { get; set; }
        public double Width { get; set; }
        public double Height { get; set; }
    }
}

<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(var(--grid-size), var(--cell-size));
        grid-template-rows: repeat(var(--grid-size), var(--cell-size));
        gap: 5px;
        background-color: #dce7f1;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        width: max-content;
        height: max-content;
        max-width: calc(var(--cell-size) * 15 + 100px);
        max-height: calc(var(--cell-size) * 15 + 100px);
    }

    .cell {
        width: var(--cell-size);
        height: var(--cell-size);
        border: 1px solid #b0c4de;
        border-radius: 4px;
        position: relative;
    }

        .cell:not([disabled]):hover {
            background-color: #7fc9ff;
        }

        .cell:not([disabled]) {
            cursor: pointer;
            transition: transform 0.2s, background-color 0.2s;
        }

    .boat-symbol {
        font-weight: bold;
        color: darkblue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<script>
    window.getGridBoundingRect = function (gridElement) {
        if (!gridElement) return null;
        return gridElement.getBoundingClientRect();
    };

    window.getCellSize = function (cellElement) {
        if (!cellElement) return null;
        const style = getComputedStyle(cellElement);
        return parseInt(style.width);
    };
</script>
